.deliveryPopup {
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: 5000;
  position: fixed;
  top:0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;

}
.deliveryPopup__body {
  position: relative;
  width: 30%;
  height: 30%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: .5rem;
}

.deliveryPopup__body__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;


}

.deliveryPopup__body__footer--buttonAccept {
  border-style: none;
  color: white;
  background-color: #88c961;
  width: 100%;
  border-bottom-left-radius: .5rem;
  font-size: 1rem;
  letter-spacing: .5px;
  font-weight: bold;
  padding: .5rem;

}

.deliveryPopup__body__footer--buttonDeny {
  border-style: none;
  color: white;
  background-color: #ff4d4d;
  border-bottom-right-radius: .5rem;
  font-size: 1rem;
  letter-spacing: .5px;
  font-weight: bold;
  padding: .5rem;

}

.deliveryPopup__body__footer--buttonDeny:hover {
  cursor: pointer;
    background-color: #FF7272;
}

.deliveryPopup__body__footer--buttonAccept:hover {
  cursor: pointer;
    background-color: #98CE77;
}

.deliveryPopup__body__content {
  background-color: #f2f8fc;
  width: 100%;
  height: 90%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;

}

.deliveryPopup__body__content--text {
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  .deliveryPopup__body {
    width: 90%;
  }
}
