.deliveryCard {
  width: 80%;
  max-width: 80%;
  height: 60%;
  border-radius: .5rem;
  margin: 3rem auto;
  padding: 0;
}

.deliveryCard--title {
  background-color: var(--clr-secondary);
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  padding: 1rem;
  width: 100%;
  color: white;
  max-height: 100%;
  font-weight: bold;
  margin: 0 auto;

}

.deliveryCard__body {
  background-color: white;
  padding: 1rem;
  height: 60%;
  max-height: 60%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); */

}

.deliveryCard__body__item {
  width: 100%;
  text-align: center;
  background-color:
}

.deliveryCard__body__item--title {
  margin: 0;
  width: 100%;
  background-color: var(--clr-secondary);

  color: white;
}

.deliveryCard__body__item--between{
  font-size: 1.2rem;
  margin: 0 .2rem 0 .2rem;
  padding: 0rem;
}

.deliveryCard__footer {
    width: 100%;
    height: 40%;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color: white;
    margin: 0;
    padding: 1rem;
    text-align: center;

}
.deliveryCard__footer--button {
  width: 45%;
  margin: .5rem auto;
  border-style: none;
  padding: .5rem;
  background-color: var(--clr-secondary);
  font-weight: bold;
  font-size: 90%;
  color: white;
}

.deliveryCard__footer--button:hover {
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 644px) {
  .deliveryCard {
    width: 100%;
    max-width: 70%;
    margin: 1rem auto;
    padding: 0;
  }
}

@media screen and (min-width: 1000px) {
  .deliveryCard {
    width: 40%;
    max-width: 40%;
    margin: 1rem auto;
    padding: 0;
  }
}
