.DeliveryOverview {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 60px));
}

.DeliveryOverview--title {
  text-align: center;
  font-size: 1.5rem;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  width: 50%;
  position: relative;
  top: 0;
  margin: 1rem auto auto auto;
}
