.deliveryMapContainer {
  margin: 1rem auto auto auto;
  padding: 0;
  height: 90vh;
  width: 90vw;

  font-family: 'Open Sans', sans-serif;
}
.deliveryMapContainer--map {
  height: 70%;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.routeInfo {
  margin-top: 2rem auto;
  display: grid;
  /* grid-template-columns: 24.5% 24.5% 24.5% 24.5%; */
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 10px;
  width: 100%;

  grid-column-start: center;
  align-items: center;
  color: white;
  margin-top: .5rem;
}

.routeInfo--item {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  height: 90%;
  max-height: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.routeInfo--item:nth-of-type(1) {
  background-color: #00B67F;
}
.routeInfo--item:nth-of-type(2) {
  background-color: #B69900;
}
.routeInfo--item:nth-of-type(3) {
  background-color: #B6008E;
}
.routeInfo--item:nth-of-type(4) {
  background-color: #008AB6;
}


.loadingModal {
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: 5000;
  position: fixed;
  top:0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
}



.loadingModal--spinner {
    z-index: 7000;
    height: 6rem;
    margin: 0 auto;
}

.loadingModal--spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fefefe;
  border-color: #fefefe transparent #fefefe transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.routeInfoHeader {
  font-size: 2rem;
  color: black;
  margin-top: .5rem;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 644px) {
  /* .routeInfo {
    grid-template: 100%;
    background-color: red;
  } */
}
