.postform--form{
  display: block;
  margin-left: 2rem;
  width: 25%;
  margin: 0 auto;
  margin-top: 1rem;
}

.postform--label{
  font-size: 1.2rem;
}
.postform--addProduct__section{
  width: auto;
  margin-top: 1rem;
}

.postform--addProduct {
  font-family: var(--ff-primary);
  background: var(--clr-primary);
  color: var(--clr-black);
  font-size: 0.875rem;
  height: 100vh;
  margin-top: 0;
  width: 100%;
}

.postform--input__form{
  width: 100%;
  padding: 10px 16px;
  margin: 0.5rem 0;
  display: block;
  background-color: var(--clr-white);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.postform--form__section{
  width: 100%;
  padding: 10px 16px;
  margin: 0.5rem 0;
  display: block;
  background-color: var(--clr-white);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.postform--input__form{
  width: 100%;
  padding: 10px 16px;
  margin: 0.5rem 0;
  display: block;
  background-color: var(--clr-white);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.postform--btn__submit{
  width: 100%;
  background-color: var(--clr-secondary);
  color: white;
  padding: 14px 20px;
  margin: 2rem 0rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.postform--btn__submit:hover{
  background-color: var(--clr-tertiary);
}



.postform--form_btn_order{
  background: var(--clr-secondary);
  padding: 0.5rem 1rem;
  color: var(--clr-primary);
  width: 100%;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  height: 3.4rem;
  border: 1px solid var(--clr-secondary);
  margin-top: 2.25rem;
}

.postform--form_btn_order:hover{
  width: 100%;
  background-color: var(--clr-tertiary);
  border-color: var(--clr-tertiary);

}

@media screen and (max-width: 600px){
  .form{
    display: block;
    margin-left: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .label{
    font-size: 1rem;
  }
  h3{
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px){
  .postform--form{
    display: block;
    margin-left: 2rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .postform--label{
    font-size: 1rem;
  }
  .postform--form{
    display: block;
    margin-left: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
  }



}
