:root {
/* Font-family */
    --ff-primary: 'Open Sans', sans-serif;

/* background color, light blue*/
  --clr-primary: #E0ECF6;

/* navbar and button color, dark blue*/
  --clr-secondary: #3C4B68;
  --clr-tertiary: #39A0ED;
  --clr-black: #000000;
  --clr-black-light: #545454;
  --clr-white: #fff;

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --fixed-width: 50rem;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-primary);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1rem;
}
h3 {
  margin-top: 0.4rem;
  font-size: 1rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
hr{
  color: var(--clr-black-light);
}
