/*
===============
Cart Container
===============
*/

.cartcontainer--cart{
  min-height: calc(100vh - 80px);
  width: 80vw;
  margin: 0 auto;
  padding: 2.5rem 0;
  max-width: var(--fixed-width);
  text-align: center;
}

.cartcontainer--cart__empty{
  text-transform: lowercase;
  color: var(--clr-black);
  margin-top: 1rem;
  text-align: center;
}

.cartcontainer--cart__btn__order{
  background: var(--clr-secondary);
  padding: 0.5rem 1rem;
  color: var(--clr-primary);
  width: 20rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  height: 3.4rem;
  border: 1px solid var(--clr-secondary);
  margin-top: 2.25rem;

}
.cartcontainer--cart__btn__order:hover{
  background: var(--clr-tertiary);
  color: var(--clr-primary);
  border-color: 1px solid var(--clr-tertiary);
}

.cartcontainer--footer{
  margin-top: 4rem;
  text-align: center;
}

.cartcontainer--link__order{
  text-decoration: none;
  color: var(--clr-white);
}
