/*
===============
Cart Item
===============
*/

.cartitem--section{
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
  width: 95%;
  height: 6rem;
  position: relative;
  background-color: var(--clr-white);
  border-radius: 0.2rem;
}

.cartitem--section__amount{
  margin: 0;
  padding: 0;
}

.cartitem--amount{
  text-align: center;
  position: absolute;
  top: 20%;
  font-size: 1.10rem;
  line-height: 1;
  margin-left: 1rem;
}

.cartitem--section__title{
  display: block;
  width: 50%;
  height: auto;
}

.cartitem--title{
  position: absolute;
  top: 20%;
  display: block;
  width: 55%;
  text-align: left;
  height: auto;
  margin-left: 1rem;
  font-size: 1.10rem;
  line-height: 1;
  color: var(--clr-black);
}
.cartitem--price{
  color: var(--clr-black);
  position: absolute;
  top: 20%;
  right: 2%;
  line-height: 1;
  font-size: 1.1rem;
}

.cartitem--btn__remove{
  color: var(--clr-tertiary);
  letter-spacing: var(--spacing);
  cursor: pointer;
  position: absolute;
  width: auto;
  display: block;
  margin-left: 1rem;
  top: 65%;
  font-size: 0.85rem;
  background: transparent;
  border: none;
  transition: var(--transition);
}
.cartitem--btn__decrease, .cartitem--btn__increase{
  width: 2.5rem;
  height: 1.5rem;
  color: #3C4B68;
  background-color: var(--clr-white);
  cursor: pointer;
  margin-right: 0.5rem;
  position: absolute;
  bottom: 6%;
}

.cartitem--btn__increase{
  right: 0;
}
.cartitem--btn__decrease__svg, .cartitem--btn__increase__svg{
  width: 0.7rem;
  height: 0.7rem;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1, h2, h3, h4 {
    line-height: 1;
  }
  .cartitem--btn__decrease{
    right: 8%;
  }
}

@media screen and (max-width: 600px){
  .cartitem--btn__decrease{
    right: 17%;
  }

}
