footer{
    background-color: #39A0ED;
}

.BottomNavigation{
  color:red;
}

.restaurant_header_section_button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    background-color: transparent;
    border: 0.2rem solid transparent;
    color: #ffffff;
    transition: 0.2s all;
}


.HomeIcon{
color: white;
}

.footer_button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    background-color: transparent;
    border: 0.2rem solid transparent;
    color: grey;
    transition: 0.2s all;
}

.footer_button:hover{
  color: #3C4B68;
  cursor: pointer;
}
.footer_header_section{

      text-align: center;
}
