.postform--form{
  display: block;
  margin-left: 2rem;
  width: 25%;
  margin: 0 auto;
  margin-top: 1rem;
}

.postform--label{
  font-size: 1.2rem;
}

.postform--input__form{
  width: 100%;
  padding: 10px 16px;
  margin: 0.5rem 0;
  display: block;
  background-color: var(--clr-white);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.postform--textarea{
  width: 100%;
  padding: 10px 16px;
  margin: 0.5rem 0;
  display: block;
  background-color: var(--clr-white);
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.postform--btn__submit{
  width: 100%;
  background-color: var(--clr-secondary);
  margin: 2rem 0rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--clr-primary);
  font-size: 1.1rem;
  border-radius: 0.3rem;
  height: 3.4rem;
  border: 1px solid var(--clr-secondary);
  margin-top: 2.25rem;
}

.btn__submit:hover{
    background-color: var(--clr-tertiary);

    border-color: var(--clr-tertiary);
}



.form__btn__order:hover{
  width: 100%;
  background-color: var(--clr-tertiary);
  border-color: var(--clr-tertiary);

}




@media screen and (max-width: 600px){
  .form{
    display: block;
    margin-left: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  h3{
    font-size: 1.3rem;
  }
}
