html{
  background-color: #E0ECF6;
}

body{
  background-color: #E0ECF6;
}

.login--section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  height: 100%;
}

.login--section > .login--section__section{
  background-color: #f1f1f1;
  color: white;
  width: 35%;
  height: 720px;
  border-radius: 15px;
}

.login--section__link{
  width: 100%;
  float: left;
  clear: both;
  text-align: center;
}

.login--section__section__from{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login--section__section__from__img{
  margin-top: 10px;
  width: 80%;
}

.login--section__section__form__input{
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 15px;
  /* float: left;
  clear: right; */
  width: 60%;
  margin: 15px;
  border-radius: 15px;
}

.login--section__section__form__button{
  height: 44px;
  border: none;
  background-color: #3C4B68;
  float: left;
  clear: both;
  width: 60%;
  color: white;
  padding: 15px;
  border-radius: 15px;
  margin: 20px;
}

.login--section__section__from__h3{
  /* margin: 30px 15px 15px 15%; */
  color: #3C4B68;
  font-size: 48px;
  margin: 10px;
  padding: 0;

}

@media only screen and (max-width: 900px) {
  .login--section > .login--section__section{
    width: 90%;
    height: 650px;
  }
}
