/*
===============
Navbar
===============
*/

.navbar{
  background: var(--clr-secondary);
  padding: 0.4rem 1.4rem;
}

.navbar--div{
  max-width: var(--fixed-width);
  width: 100%;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar--login{
  text-align: left;
  margin-left: 0;
  color: var(--clr--white);
  margin-top: 1rem;
}

.navbar--div__container{
  display: block;
  position: relative;
}

.navbar--title{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0;
  color: var(--clr-white);
}

.navbar--link__order{
  color: var(--clr-white);
  text-decoration: none;

}
