.orders__overview__title{
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
}
.ordercard{
    background-color: #fff;
    max-width: 40%;
    margin: 2rem auto;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 1px 1px 2px 1px grey;
    height: 15rem;
}

.ordercard--header{
    padding: 1rem 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #39A0ED;
}

.ordercard--header > h1{
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
}

.ordercard--header__price{
    position: absolute;
    font-weight: bold;
    color: #fff;
    margin: 0;
    right: 2rem;
    top: 1rem;
    font-size: 1.2rem;
}

.ordercard--header__delivery{
    position: absolute;
    font-weight: bold;
    color: #fff;
    margin: 0;
    right: 2rem;
    top: 3rem;
    font-size: 1.2rem;
}

.ordercard--header__paymentmethod{
    position: absolute;
    font-weight: bold;
    color: #fff;
    margin: 0;
    right: 2rem;
    top: 5rem;
    font-size: 1.2rem;
}

.ordercard--content{
    padding: 0 2rem 1rem 2rem;
    width: 70%;
}

.ordercard--content > p {
    font-size: 0.875rem;
    line-height: 1.5;
    height: ;
}

.ordercard--content__paymentmethod{
    color: #000;
    position: absolute;
    font-weight: bold;
    margin: 0;
    right: 2rem;
    top: 5rem;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.ordercard--content__deliverytime{
    color: #000;
    position: absolute;
    font-weight: bold;
    margin: 0;
    right: 2rem;
    top: 7rem;
    font-size: 1.2rem;
    margin-bottom: 0;
}


.ordercard--content__description{
  color: #000;
  position: absolute;
  font-weight: bold;
  margin: 0;
  right: 2rem;
  top: 9rem;
  font-size: 1.2rem;
  margin-bottom: 0;

}
.ordercard--content__Order{
  margin-top: 0.9rem;
}


@media only screen and (max-width: 768px) {
    .ordercard{
        max-width: 80%;
        margin: 2rem auto;
    }

    .ordercard--header > h3{
        font-size: 1rem;
    }

    .ordercard--header__price{
        font-size: 1rem;
    }

    .ordercard--content > p{
        font-size: 0.75rem;
    }

    .card__button{
        padding: 0 0.5rem;
    }
}

@media only screen and (max-width: 414px) {
    .ordercard{
        margin: 1.5rem auto;
        max-width: 90%;
    }
    .ordercard--title > h1{
      font-size: 0.7rem;
    }


    .ordercard--header{
            padding: 1rem;
    }

    .ordercard--header > h3{
        font-size: 0.8rem;
    }

    .ordercard--header__price{
        font-size: 0.9rem;
        right: 1rem;
    }

    .ordercard--content{
        padding: 0 1rem 1rem 1rem;
    }

    .ordercard--content__Order{
      width: 80%;
      margin-top: 0.9rem;
    }
}
