nav {
  background: var(--clr-secondary);
  padding: 0.4rem 1.4rem;
}
.nav-center {
  max-width: var(--fixed-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  color: var(--clr-white);
}
.nav-container {
  display: block;
  position: relative;
}
.back-svg{
  transform: rotate(180deg);
}
nav svg {
  width: 2rem;
  fill: var(--clr-white);

}
