.productoverview_searchbar{
    width: 40%;
    margin: 0 auto;
}

/*
===============
Navbar
===============
*/

.shoppingnavbar{
  background: var(--clr-secondary);
  padding: 0.4rem 1.4rem;
}

.shoppingnavbar--div{
  max-width: var(--fixed-width);
  width: 100%;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shoppingnavbar--div__container{
  display: block;
  position: relative;
}

.shoppingnavbar--title{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0;
  color: var(--clr-white);
}

.shoppingnavbar--cart__svg{
  height: 2.4rem;
  width: 2.4rem;
  margin-top: 1rem;

}

.shoppingnavbar--container__amount{
  margin-top: 1rem;
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
  width: 1.65rem;
  height: 1.65rem;
  border-radius: 50%;
  background: var(--clr-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoppingnavbar--total__amount{
  color: var(--clr-white);
  margin-bottom: 0;
  margin-right: 0;
  font-size: 1.25rem;

}


@media only screen and (max-width: 768px) {
    .productoverview_searchbar{
      width: 80%;
    }
  }

  @media only screen and (max-width: 414px) {
    .productoverview_searchbar{
      width: 100%;
    }
  }
