.card{
    background-color: white;
    max-width: 40%;
    margin: 2rem auto;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 1px 1px 2px 1px grey;
}

.card__header{
    padding: 1rem 2rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #39A0ED;
}

.card__header > h2{
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.card__header_price{
    position: absolute;
    font-weight: bold;
    color: #fff;
    margin: 0;
    right: 2rem;
    top: 1rem;
    font-size: 1.2rem;
}

.card__content{
    padding: 0 2rem;
    width: 70%;
}

.card__content > p {
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 1rem 0;
}

.card__content_allergiestext{
    color: #00000060;
    font-style: italic;
    padding-bottom: 1rem;
}

.card__button{
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    background-color: #39A0ED;
    border: 0.2rem solid #39A0ED;
    color: #ffffff;
    transition: 0.2s all;
}

.card__button:hover{
    background-color: #fff;
    color: #39A0ED;
    cursor: pointer;
}


@media only screen and (max-width: 768px) {
    .card{
        max-width: 80%;
        margin: 2rem auto;
    }

    .card__header > h2{
        font-size: 1rem;
    }

    .card__header_price{
        font-size: 1rem;
    }

    .card__content > p{
        font-size: 0.75rem;
    }

    .card__button{
        padding: 0 0.5rem;
    }
    .shoppingcart{
      margin: 0;
      margin-top: 0;
      width: 100%;
    }
}

@media only screen and (max-width: 414px) {
    .card{
        margin: 1.5rem auto;
        max-width: 90%;
    }

    .card__header{
            padding: 1rem;
    }

    .card__header > h2{
        font-size: 0.8rem;
    }

    .card__header_price{
        font-size: 0.8rem;
        right: 1rem;
    }

    .card__content{
        padding: 0 1rem 0 1rem;
        width: 80%;
    }

    .card__button{
        right: 1rem;
        bottom: 1rem;
    }
}
