html{
  background-color: #E0ECF6;
}

.register--section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  height: 100%;
}

.register--section > .register--section__section{
  background-color: #f1f1f1;
  color: white;
  width: 35%;
  height: 800px;
  border-radius: 15px;
}

.register--section__link{
  width: 100%;
  float: left;
  clear: both;
  text-align: center;
}

.register--section__section__from{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register--section__section__form__input{
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 15px;
  /* float: left;
  clear: right; */
  width: 60%;
  margin: 15px;
  border-radius: 15px;
}

.register--section__section__form__button{
  height: 44px;
  border: none;
  background-color: #3C4B68;
  float: left;
  clear: both;
  width: 50%;
  color: white;
  padding: 15px;
  border-radius: 15px;
  margin: 20px;
}

.register--section__section__from__h3{
  color: #3C4B68;
  font-size: 48px;
  margin: 10px;
  padding: 0;
}

.register--section__section__from_img{
  width: 80%;
  margin-top: 10px;
}

@media only screen and (max-width: 1300px) {
  .register--section__section__from__h3{
    font-size: 32px;
  }
}


@media only screen and (max-width: 900px) {
  .register--section__section__from__h3{
    font-size: 48px;
  }

  .register--section > .register--section__section{
    height: 850px;
    width: 90%;
  }
}

@media only screen and (max-width: 450px) {
  .register--section__section__from__h3{
    font-size: 36px;
  }
}

@media only screen and (max-width: 350px) {
  .register--section__section__from__h3{
    font-size: 32px;
  }
}
