.restaurant_header{
    background-color: #39A0ED;
}
h2{
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
}

header{
  padding-bottom: 1rem;
}

.restaurant_header > h1{
    text-align: center;
    color: #fff;
    font-size: 60px;
    margin: 0;
    padding-top: 1rem;
}

.restaurant_header_section{
    text-align: center;
}

.restaurant_header_section_button{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    background-color: transparent;
    border: 0.2rem solid transparent;
    color: #ffffff;
    transition: 0.2s all;
}

.restaurant_header_section_button:hover{
    color: #3C4B68;
    cursor: pointer;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.850);
    z-index: 2;
}

.popup_content {
    position: absolute;
    left: 35%;
    right: 35%;
    top: 25%;
    max-height: 30rem;
    margin: auto;
    background: white;
    border-radius: 0.5rem;
    overflow: auto;
}


.popup_content_header{
    background-color: #39A0ED;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding-bottom: 0;
}

.popup_content_header > h1{
    padding: 1rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    margin: 0;
    color: #fff;

}

.popup_content_header_closebutton{
    position: absolute;
    right: 0rem;
    top: 0.6rem;
    padding: 0 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    background-color: transparent;
    border: 0.2rem solid transparent;
    color: #fff;
    cursor: pointer;
}

.address_container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.address_container > p{
    margin: 0.5rem;
    margin-left: 2rem;
    font-size: 1rem;
    display: inline-block;
    width: 35%;
}

.address_container_addressdata{
    float: right;
}

.times_container{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.times_container > p{
    margin: 0.5rem;
    margin-left: 2rem;
    font-size: 1rem;
    display: inline-block;
    width: 35%;
}

.times_container_openinghours{
    float: right;
}

.reviewcards{
    background-color: #E0ECF6;
    width: 80%;
    margin: 2rem auto;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 1px 1px 2px 1px grey;
}

.reviewcards_header{
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: #39A0ED;
    color: white;
}

.reviewcards_header > p{
    margin: 0;
}

.reviewcards_review > p{
    margin: 0;
    padding: 1rem;
}

.reviewcards_header_timestamp{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.reviewcards_review_ratings > p {
    display: inline-block;
    margin: 1rem;
}

.reviewcards_review_ratings_deliverrating {
    float: right;
}

@media only screen and (max-width: 768px) {
    .popup_content{
        left: 20%;
        right: 20%;
        top: 20%;
    }
}

@media only screen and (max-width: 414px) {
    .restaurant_header > h1{
        font-size: 40px;
    }

    .popup_content{
        left: 7%;
        right: 7%;
        top: 7%;
        max-height: 86%;
    }

    .address_container > p{
        font-size: 0.8rem;
    }

    .times_container > p{
        font-size: 0.8rem;
    }
}
