.restaurantoverview {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  padding: 0 1.5rem;
}

.restaurantoverview_searchbar{
  width: 50rem;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .restaurantoverview_searchbar{
    width: 45rem;
  }
}

@media only screen and (max-width: 414px) {
  .restaurantoverview_searchbar{
    width: 25rem;
  }
}

@media only screen and (max-width: 375px) {
  .restaurantoverview_searchbar{
    width: 22rem;
  }
}
