.restaurantCard {
  width: 100%;
  max-width: 50rem;
  padding: 2rem;
  background-color: var(--clr-white);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 0.8rem;
  margin: 0.5rem;
}

.restaurantCard__content__figure {
  width: 100%;
  min-width: 10rem;
  max-width: 10rem;
  height: 10rem;
  position: relative;
  margin-right: 5rem;

}

.restaurantCard__content__figure::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: .8rem;

}

.restaurantCard__content__figure__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 0.8rem;
}

.restaurantCard__content__header {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: black;
}

.restaurantCard__content__text {
  font-size: 1.3rem;
  color: rgba(0,0,0,.7);
}

.restaurantCard__content__button {
  display: inline-block;
  padding: 0.7rem 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #fff;
  background-color: #39A0ED;
  border-radius: 0.8rem;
  text-decoration: none;
}

.restaurantCard__content__button:hover {
  background-color: white;
  color: #39A0ED;
}

@media screen and (max-width: 450px) {
  .restaurantCard__content__header {
    font-size: 0.9em;
  }

}

/* @media screen and (max-width: 868px) {
  .restaurantCard {
    max-width: 30rem;
  }
}

@media screen and (max-width: 768px) {
  .restaurantCard {
    padding: 2.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .restaurantCard__content__figure {
    min-width: 10rem;
    max-width: 10rem;
    transform: translate(0, -8rem);
    margin-bottom: 5rem;
  }
} */
