.searchbar_section {
  position: relative;
  display: flex;
  width: 100%;
  margin: 2rem auto;
}

.searchbar_section__input {
  border: 2px solid grey;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  padding: 1rem 2rem 1rem 3.5rem;
  outline: 0;
  font-size: 1.2rem;
  background-color: #f5f5f5;
  box-sizing: initial;
}

.searchbar_section__searchicon {
  position: absolute;
  top: 22.5px;
  left: 2rem;
  font-size: 1.2rem;
}

.searchbar_section__clearicon {
  position: absolute;
  top: 22.5px;
  right: 2rem;
  cursor: pointer;
  /* visibility: hidden; */
}

.searchbar_section__input:hover, .searchbar_section__input:focus {
    border: 2px solid #39A0ED;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .searchbar_section__input{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 414px) {
    .searchbar_section{
        width: 90%;
    }

    .searchbar_section__input{
        font-size: 0.8rem;
    }
}
